.Background{
  background-image: url('../media/pexels-photo-414727.jpeg');
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 1100px;
  left: 0;
  position: fixed;
  top: -100px;
  right: 0;
  z-index: -1;
}

.Sidebar {
  background: #fff;
  color: #2397FF;
  border: 0;
  padding: 1em;
  width: 20%;
  height: 100%;
  position: fixed;
  overflow: auto;
  transition-duration: 1s;
}

.Content {
  display: block;
  padding: 1em;
  margin-left: 25%;
  color: #3d4f5d;
}

.Head {
  padding: 1em;
  color: white;
}

.Talks {
  margin-top: 2em;
}

.DisplayAll {
  cursor: pointer;
  float: right;
  margin-right: 10%;
  transition-duration: 0.2s;
}

a:hover.DisplayAll {
  color: #2397FF;
}

.Header {
  margin-top: 40%;
  margin-right: 2em;
  text-align: right;
}

.Categories {
  margin-top: 15%;
  text-align: right;
  list-style-type: none;
}

.Menu {
  cursor: pointer;
  position: fixed;
  font-size: 2em;
  margin: 2%;
  color: white;
  z-index: -2;
}

.Close {
  cursor: pointer;
  display: none;
  float: right;
  z-index: 0;
  margin-right: 1%;
}

@media (max-width: 1245px) {
  .Sidebar {
    background: rgba(153, 153, 153, 0.5);
    width: 245px;
    transition-duration: 0.6s;
    left: -300px;
    padding: 0;
  }

  .Menu {
    z-index: 0;
  }

  .Content {
    margin-left: 10%;
  }

}

@media (min-width: 1245px) {
  .Sidebar{
    left: 0px;
  }
}
