.Talk {
  border-color: #707070;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin-bottom: 5%;
  color: #88C4F9;
  height: 200px;
}

.CreateForm {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2em;
  padding: 10px;
  color: #88C4F9;
  border-color: #707070;
  border-style: solid;
  border-width: 1px;
}

h1.CreateForm {
  color: #707070;
  font-size: 2em;
}

.PDF {
  float: right;
}

.Title {
  color: #707070;
  font-size: 2em;
}

.Description {
  position: absolute;
  bottom: 3em;
}
