.Talk {
  border-color: #707070;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  color: #88C4F9;
  width: 95%;
  height: 200px;
  margin: 2em;
}

.CreateForm {
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 2%;
  padding: 10px;
  color: #88C4F9;
  border-color: #707070;
  border-style: solid;
  border-width: 1px;
}

h1.CreateForm {
  color: #707070;
  font-size: 2em;
}

.PDF {
  float: right;
}

.Title {
  color: #707070;
  font-size: 2em;
}

.Description {
  position: absolute;
  bottom: 3em;
}
