.Talk {
  background: white;
  border-radius: 3px;
  padding: 1em;
  margin: 3em;
  top: auto;
  margin-left: 0;
  margin-right: 10%;
  color: #2397FF;
}

.PDF {
  float: right;
}

.Title {
  color: #000;
}
